#playerOne {
  background-color: #fc9d9a;
}
#playerTwo {
  background-color: #fc9d9a;
}
#playerOneButtons {
  display: none;
}
#playerTwoButtons {
  display: none;
}
#reset {
  display: none;
}
a {
  color: black;
}
