@import url('https://fonts.googleapis.com/css?family=Oswald|Walter+Turncoat');

#playerOne {
  font-family: 'Walter Turncoat', cursive;
  background-color: #fc9d9a;
  max-height: 600px;
  padding-bottom: 200px;
  display: table;
  text-align: center;
  border-radius: 10px;

}

#playerTwo {
  font-family: 'Walter Turncoat', cursive;
  background-color: #fc9d9a;
  text-align: center;
  padding-bottom: 200px;
  border-radius: 10px;
}
#playerOneButtons {
  display: none;
  position: absolute;
  left: 50%;
  margin-left: -56px;
  bottom: 10px;


}
#playerTwoButtons {
  display: none;
  position: absolute;
  left: 50%;
  margin-left: -56px;
  bottom: 10px;
}
#reset {
  font-family: 'Walter Turncoat', cursive;
  display: none;
  position: absolute;
  left: 50%;
  margin-left: -56px;
  bottom: 5px;
}
#score {
  font-family: 'Walter Turncoat', cursive;
  text-align: center;
  padding-bottom: 600px;
  max-height: 600px;
}
#play{
  position: absolute;
  left: 50%;
  margin-left: -56px;
  bottom: 5px;
}
a {
  color: black;
}

.jumbotron{
  font-style: italic;
  font-weight: lig
  color: black;
  background-color: #99B898;
  text-align: center;
  font-family: 'Walter Turncoat', cursive;
}

.jumbotron h1 {
  font-size: 100px;
}
